

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#quiz-container {
   width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2980b9;
   
  }

 
  #quiz {
    background: white;
    border-radius: 10px;
    padding: 20px 30px;
    max-width: 350px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(8, 4, 228, 0.1);
    text-align: center;
  }
  h2 {
    margin-bottom: 15px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 15px;
  }
  ul li {
    background: #3498db;
    color: white;
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
  }
  ul li:hover {
    background: #2980b9;
  }
  button {
    background: #27ae60;
    border: none;
    color: white;
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
  }
  button:disabled {
    background: #7f8c8d;
    cursor: not-allowed;
  }
  #result {
    font-size: 18px;
    font-weight: bold;
    color: #2c3e50;
  }

  #text{
    text-align: center;
    
  }

